$mobile-width: 360px;
$tablet-width: 987px;
$desktop-width: 1200px;

@mixin mobile-horizontal {
	@media (min-width: #{$mobile-width + 1}) and (max-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}
