.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	padding: 0 $metric-s;
	background-color: white;
	z-index: 1000;

	&__logo {
		&-img-mb {
			width: 30px;
		}

		&-img-dt {
			display: none;
		}
	}

	@include tablet {
		justify-content: space-between;
		align-items: flex-start;
		height: 130px;

		&__logo {
			padding-top: $metric-m;
			padding-left: 70px;

			&-img-mb {
				display: none;
			}

			&-img-dt {
				display: block;
			}
		}
	}
}
