@import './texts';
@import './media-queries';
@import './metrics';

@import './button.scss';
@import './header.scss';
@import './nav.scss';
@import './burger-menu.scss';
@import './section-overview.scss';
@import './slider.scss';
@import './section-accesories.scss';
@import './section-faq.scss';
@import './section-features.scss';
@import './section-products.scss';
@import './section-contact.scss';
@import './footer.scss';

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 5px;

	&-track {
		background-color: $background-color;
	}

	&-thumb {
		background-color: $product-color;
	}
}

a,
button,
input,
textarea {
	display: inline-block;
	font-family: inherit;
	color: inherit;
	outline: none;
	border: none;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

textarea {
	resize: none;
}

main {
	padding-top: 2 * $metric-m;

	@include tablet {
		padding-top: 5 * $metric-m;
	}
}
