.overview {
	padding-bottom: 5 * $metric-s;
	background-color: $background-color;
	overflow: hidden;

	@include tablet {
		padding-left: 10vw;
		padding-bottom: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			'title image'
			'description image'
			'slider slider'
			'slider-bottom slider-bottom';
	}

	&__wrapper {
		display: flex;
		align-items: center;
		padding-top: 4 * $metric-s;
		padding-left: $metric-s;
		padding-right: $metric-m;

		@include desktop {
			padding-left: $metric-l;
		}
	}

	&__title {
		@include header-m;
		font-size: $metric-m;
		color: $product-color;
		line-height: 5 * $metric-xs;
		letter-spacing: -2px;

		&--small {
			@include header-s;
			padding-left: 6vw;

			@include tablet {
				padding-left: 0;
			}
		}
	}

	&__image {
		height: 320px;
		background-image: url('../images/desks.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;

		@include tablet {
			grid-area: image;
			height: 100%;
			background-position: 100% 80%;
		}

		&--fixed {
			@extend .overview__image;

			background-image: url('../images/hand.png');
			background-position-y: 40vh;
			background-attachment: fixed;

			@include tablet {
				background-size: 45%;
			}

			@include desktop {
				background-size: 40%;
				background-position: 100% 15vw;
			}
		}
	}

	&__description {
		@include tablet {
			padding-left: $metric-s;
			padding-right: $metric-m;
		}

		@include desktop {
			padding-left: $metric-l;
		}
	}

	&__paragraph {
		@include paragraph-text;
		padding: $metric-l $metric-s $metric-m;

		@include tablet {
			padding: 0;
			font-size: $metric-base;
			line-height: 5 * $metric-xs;
			letter-spacing: -2px;
		}
	}

	&__icons {
		display: flex;
		justify-content: center;

		@include tablet {
			justify-content: flex-start;
			padding-top: $metric-l;
		}
	}
}
