.overview {
	background-color: $background-color;
	overflow: hidden;

	&__wrapper {
		padding-top: 80px;
		padding-left: 20px;
		padding-right: 40px;
		display: flex;
		align-items: center;
	}

	&__title {
		@include header-m;
		font-size: 40px;
		color: $product-color;
		line-height: 50px;
		letter-spacing: -2px;

		&--small {
			@include header-s;
			padding-left: 6vw;
		}
	}

	&__image {
		height: 320px;
		background-image: url('../images/desks.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;

		&--fixed {
			@extend .overview__image;

			height: 100%;
			background-image: url('../images/hand.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position-y: 160%;
			background-attachment: fixed;
		}
	}

	&__paragraph {
		padding: 60px 20px 40px 20px;
		@include paragraph-text;
	}

	&__icons {
		display: flex;
		justify-content: center;
	}
}

@include tablet {
	.overview {
		padding-left: 10vw;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			'title image'
			'description image'
			'slider slider'
			'slider-bottom slider-bottom';

		&__title {
			&--small {
				padding-left: 0;
			}
		}

		&__image {
			grid-area: image;
			height: 100%;
			background-position: 100% 80%;

			&--fixed {
				background-size: 45%;
			}
		}

		&__description {
			padding-left: 20px;
			padding-right: 40px;
		}

		&__paragraph {
			font-size: 30px;
			line-height: 50px;
			letter-spacing: -2px;
			padding: 0;
		}

		&__icons {
			padding-top: 60px;
			justify-content: flex-start;
		}
	}
}

@include desktop {
	.overview {
		&__image {
			&--fixed {
				background-size: 40%;
				background-position: 100% 15vw;
			}
		}

		&__wrapper,
		&__description {
			padding-left: 60px;
		}
	}
}
