.slider-bottom-wrapper {
	position: relative;
	padding-top: 4 * $metric-s;

	@include tablet {
		grid-area: slider-bottom;
		padding-left: $metric-l;
	}
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider {
	display: flex;
	padding-top: 7 * $metric-s;
	scroll-behavior: smooth;
	overflow-x: auto;

	@include tablet {
		grid-area: slider;
		padding: $metric-l 10vw 0 0;
		overflow: hidden;
	}

	&--bottom {
		@extend .slider;
		padding-top: $metric-base;

		@include tablet {
			grid-area: slider-bottom;
			padding-bottom: 5 * $metric-base;
		}
	}

	&__item {
		flex-shrink: 0;
		height: 100%;
		width: 100%;
		padding: 0 5vw;

		@include tablet {
			flex-shrink: 1;
			padding: 7 * $metric-xs;
		}

		& img {
			display: block;
			width: 205px;
			padding-bottom: $metric-l;
			margin: 0 auto;

			@include tablet {
				width: 4 * $metric-m;
				padding-bottom: 7 * $metric-xs;
			}
		}

		&--bottom {
			@extend .slider__item;
			min-height: 500px;
			max-height: 500px;
			padding-top: 5 * $metric-xs;
			padding-bottom: 7 * $metric-xs;
			background-color: white;

			@include tablet {
				flex-shrink: 0;
				width: 300px;
				max-height: 500px;
				padding: 7 * $metric-xs 5 * $metric-xs 5 * $metric-xs;
				margin-right: $metric-s;
			}
		}

		&__title {
			@include header-m;
			padding-bottom: $metric-m;

			@include tablet {
				@include header-l;
			}

			&--bottom {
				@extend .slider__item__title;

				@include tablet {
					@include header-m;
					padding-bottom: $metric-m;
				}
			}
		}

		&__description {
			@include paragraph-text;
		}
	}
}

.slider-buttons {
	display: flex;
	justify-content: center;
	padding-top: $metric-l;

	@include tablet {
		display: none;
	}

	&--bottom {
		@extend .slider-buttons;
		position: absolute;
		bottom: $metric-base;
		left: 50%;
		transform: translateX(-50%);
	}

	&__button {
		height: 5px;
		width: 5px;
		margin: 0 $metric-xs;
		border-radius: 50%;
		background-color: $text-color;

		&--active {
			@extend .slider-buttons__button;
			background-color: $product-color;
		}
	}
}
